<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxprogrem.mapper.DishMapper">
    <select id="selectBatchIds" resultType="com.wxprogrem.pojo.Dish">
        SELECT * FROM dish
        WHERE id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY id DESC
    </select>
</mapper>