<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxprogrem.mapper.OrderDetailMapper">
    <insert id="addOrderDetail">
        INSERT INTO order_detail
        (order_id, dish_id, dishname, image, number, acount)
        VALUES
        <foreach collection="orderDetail" item="item" separator=",">
            (#{item.orderId}, #{item.dishId}, #{item.dishname},
            #{item.image}, #{item.number}, #{item.acount})
        </foreach>
    </insert>

    <select id="historyOrder" resultType="com.wxprogrem.pojo.OrderDetail">
        SELECT * FROM order_detail
        WHERE
            order_id IN
        <foreach collection="orderIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY order_id DESC
    </select>

    <select id="getOrderDetailsByOrderIds" resultType="com.wxprogrem.pojo.OrderDetail">
        SELECT * FROM order_detail
        WHERE order_id IN
        <foreach collection="realOrderIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY order_id DESC
    </select>
</mapper>